
# Backup
Backup/** 
Backup2/** 
Backup3/**
Mod Projects/*/.vs/**
Mod Projects/*/.vscode/**
Mod Projects/*/bin/**
Mod Projects/*/obj/**

# Output Dll
RHA_Merankori/Assemblies/RHA_Merankori.dll
RHA_Merankori/Assemblies/ChronoArkMod.RHA_Merankori.ModAssembly.dll

# Output asset bundles
RHA_Merankori/Assets/Assets
RHA_Merankori/Assets/Assets.manifest
RHA_Merankori/Assets/rha_merankoriunityassetbundle
RHA_Merankori/Assets/rha_merankoriunityassetbundle.manifest

Backup_pack/**